# {{ ansible_managed }}
[Service.{{ openio_xcute_namespace }}-xcute-{{ openio_xcute_serviceid }}]
command=/usr/bin/oio-xcute /etc/oio/sds/{{ openio_xcute_namespace }}/{{ openio_xcute_servicename }}/{{ openio_xcute_servicename }}.conf
enabled=true
start_at_boot=true
on_die=respawn
group={{ openio_xcute_namespace }},xcute,{{ openio_xcute_serviceid }}
uid=openio
gid=openio
env.PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin
